<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>       
        <!--手机首页-->  
		 <rule name="rwap">
          <match url="^wap$" />
          <action type="Rewrite" url="/wap/index.asp" />
        </rule>		
		 <!--列表-->
        <rule name="rwapURL">
          <match url="^wap/([A-Za-z0-9-]*)$" />
          <action type="Rewrite" url="/wap/index.asp?{R:1}" />
        </rule>
		 <!--列表-->
        <rule name="rwapURL=">
          <match url="^wap/([A-Za-z0-9-]*)=([\s\S]*)$" />
          <action type="Rewrite" url="/wap/index.asp?{R:1}" />
        </rule>
		 <!--内容页-->
        <rule name="rwapContent">
          <match url="^wap/([A-Za-z0-9-]*)/([A-Za-z0-9-]*).htm([\s\S]*)$" />
          <action type="Rewrite" url="/wap/{R:1}/?{R:2}.html" />
        </rule>
        <!--列表-->
        <rule name="rwapPL1">
          <match url="^wap/([A-Za-z0-9-]*)/([0-9]*)_([0-9]*).htm([\s\S]*)$" />
          <action type="Rewrite" url="/wap/{R:1}/?{R:2}_{R:3}.html" />
        </rule>
		<rule name="rwapPL2">
          <match url="^wap/([A-Za-z0-9-]*)/([0-9]*)_([0-9]*)_([0-9]*).htm([\s\S]*)$" />
          <action type="Rewrite" url="/wap/{R:1}/?{R:2}_{R:3}_{R:4}.html" />
        </rule>
		 <rule name="rwapLocation">
          <match url="^wap/([A-Za-z0-9-]*)/$" />
          <action type="Rewrite" url="/wap/{R:1}/" />
        </rule>
		 <!--会员-->
        <rule name="rwapUser">
          <match url="^wap/user/([A-Za-z0-9-]*)$" />
          <action type="Rewrite" url="/wap/?act={R:1}" />
        </rule>
		<!--PC首页-->  
		 <rule name="rIndex">
          <match url="^$" />
          <action type="Rewrite" url="index.asp" />
        </rule>		
		 <!--列表-->
        <rule name="rURL">
          <match url="^([A-Za-z0-9-]*)$" />
          <action type="Rewrite" url="/index.asp?{R:1}" />
        </rule>
		 <!--列表-->
        <rule name="rURL=">
          <match url="^([A-Za-z0-9-]*)=([\s\S]*)$" />
          <action type="Rewrite" url="/index.asp?{R:1}" />
        </rule>
		 <!--内容页-->
        <rule name="rContent">
          <match url="^([A-Za-z0-9-]*)/([A-Za-z0-9-]*).htm([\s\S]*)$" />
          <action type="Rewrite" url="/{R:1}/?{R:2}.html" />
        </rule>
        <!--列表-->
        <rule name="rPL1">
          <match url="^([A-Za-z0-9-]*)/([0-9]*)_([0-9]*).htm([\s\S]*)$" />
          <action type="Rewrite" url="/{R:1}/?{R:2}_{R:3}.html" />
        </rule>
		<rule name="rPL2">
          <match url="^([A-Za-z0-9-]*)/([0-9]*)_([0-9]*)_([0-9]*).htm([\s\S]*)$" />
          <action type="Rewrite" url="/{R:1}/?{R:2}_{R:3}_{R:4}.html" />
        </rule>
		 <rule name="rLocation">
          <match url="^([A-Za-z0-9-]*)/$" />
          <action type="Rewrite" url="/{R:1}/" />
        </rule>
		 <!--会员-->
        <rule name="rUser">
          <match url="^user/([A-Za-z0-9-]*)$" />
          <action type="Rewrite" url="/?act={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
